/* Color Swatches in Hex */
.Incert-1-hex { color: #054a91; }
.Incert-2-hex { color: #3e7cb1; }
.Incert-3-hex { color: #81a4cd; }
.Incert-4-hex { color: #dbe4ee; }
.Incert-5-hex { color: #f17300; }
.Incert-6-hex { color: #3d011d; }

body {
    font-family: 'Poppins', sans-serif;
    background-color: #81a4cd;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

header {
    color: #054a91;
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #81a4cd;
}

nav ul li {
    float: left;
    width: 33%;
}

nav ul li a {
    display: block;
    color: #054a91;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    color: lightblue;
    transition: color 0.5s ease;
}

.progress-container {
    position: fixed;
    bottom: 10px;
    z-index: 5;
    width: 100%;
    height: 6px;
    background: #f17300
}

.progress-bar {
    height: 6px;
    background: #054a91;
    width: 0%;
}

footer p {
    color:#054a91;
    font-size: 10px;
    margin: 50px auto;
    padding: 10px;
    text-align: center;
    bottom: 0;
    width: 100%;
  }

  .county-label {
    background-color: rgba(255, 255, 255, 0.976);
    border: none;
    box-shadow: none;
    color: black;
    font-size: 20px; 
    text-align: center;
}

#filterTitle {
    margin-bottom: 5px;
    text-align: left;
}

#countyTitle {
    margin-bottom: 5px;
    text-align: left;
}

.controls-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#california-map {
    background-color: transparent !important;
}

p {
  color: #054a91;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: justify;
  font-size: 14px;
  margin-left: 60px;
  margin-right: 60px;
}

h2 {
  color: #054a91;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  font-size: 24px;
  margin-left: 60px;
}

#chart {
  color: #054a91;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  font-size: 24px;
  margin-left: 60px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.back-button{
  color: #054a91;
  text-align: left;
  font-size: 20px;
  margin-left: 60px;
  text-decoration: none;
}