header {
    /*padding: 30px;*/
    font-family: 'Arial Narrow', 'sans-serif';
    color: darkslategray;

    /* Center  vertically */
    margin: 0;
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
    justify-content: center;
  
     /* Center  horizontally */
    text-align: center;
    
}

